html, body {
    height: 100%;
    background-color:#f9f6f4ff
}

.nav-img {
    flex: 0 0 160px;
}

.nav-img img {
    width: 370px;
}

.nav-contents {
    flex: 1 1 130px
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.container {
  position: relative;
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.3;
  right: 0.3;
  height: 100%;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
  background-color: #8b9294;
}
.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



@media (max-width: 576px) {
    .nav-img {
        flex: 1;
    }



    .nav-img img {
        min-width: 200px;
        width: 100%;
}
}

