{% extends "base.html" %}
{% block title %}away-with-the-pixie{% endblock %}

{% block content %}
<div class="container">
  <br>
  <div
    class = "font-italic text-uppercase font-weight-bold" style="color : #1200ff;">
    <h2>Away with the Pixie</h2>

    </div>

    <div
    class = "font-italic text-uppercase " style="color : #1200ff;">
    <p>random shit</p>
    </div>
  <br>
  <br>


  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/images/pixie/p1.jpg" target="_blank">
          <img src="/static/images/pixie/p1.jpg" alt="Lights" style="width:100%">
          <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;">
            <p>Dasha innit</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/images/pixie/p2.jpg" target="_blank">
          <img src="/static/images/pixie/p2.jpg" alt="Nature" style="width:100%">
          <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;"">
            <p>Dasha init</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/images/pixie/p3.jpg" target="_blank">
          <img src="/static/images/pixie/p3.jpg" alt="Fjords" style="width:100%">
          <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;" >
            <p>dasha innit</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<br>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/images/pixie/p4.jpg" target="_blank">
          <img src="/static/images/pixie/p4.jpg" alt="Lights" style="width:100%">
          <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;">
            <p>Dasha innit</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/images/pixie/p5.jpg" target="_blank">
          <img src="/static/images/pixie/p5.jpg" alt="Nature" style="width:100%">
          <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;"">
            <p>Dasha init</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/static/images/pixie/p6.jpg" target="_blank">
          <img src="/static/images/pixie/p6.jpg" alt="Fjords" style="width:100%">
          <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;" >
            <p>dasha innit</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}