{% extends "base.html" %}
{% block title %}AWAY WITH THE PIXIES - Fume Gallery{% endblock %}

{% block content %}
<div class="container">
    <br>
    <br>
    <div
            class="font-italic text-uppercase font-weight-bold" style="color : black;">
        <h3>Away with the Pixie</h3>

    </div>

    <div
            class="" style="color : black;">
        <p>A small series following the movements of a pixie through an enchanted forest</p>
    </div>
    <br>
    <br>


    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/static/images/pixie/p1.jpg" alt="pixie1" style="width:100%">
                <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;">
                    <p></p>
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="/static/images/pixie/p2.jpg" alt="pixie2" style="width:100%">
                <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;"
                ">
                <p></p>
            </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="/static/images/pixie/p3.jpg" alt="pixie3" style="width:100%">
            <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;">
                <p></p>
            </div>
            </a>
        </div>
    </div>
</div>
</div>

<br>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/static/images/pixie/p4.jpg" target="_blank">
                <img src="/static/images/pixie/p5.jpg" alt="pixie4" style="width:100%">
                <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;">
                    <p></p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="/static/images/pixie/p5.jpg" target="_blank">
                <img src="/static/images/pixie/p4.jpg" alt="pixie5" style="width:100%">
                <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;"
                ">
                <p></p>
        </div>
        </a>
    </div>
</div>
<div class="col-md-4">
    <div class="thumbnail">
        <a href="/static/images/pixie/p6.jpg" target="_blank">
            <img src="/static/images/pixie/p6.jpg" alt="pixie6" style="width:100%">
            <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;">
                <p></p>
            </div>
        </a>
    </div>
</div>
</div>
</div>

<br>

{% endblock %}