<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />

    <title>{% block title %}Enter Fume Gallery{% endblock %}</title>
</head>


<body>
<br>
<div class="row">
    <div class="col-md-3">
    </div>
    <img src="static/images/logov.png" width="700" height="100" class="center nav-img">
</div>

<br>
<br>
<br>
<br>
<br>


<div class="row">
    <div class="col-md-5">
    </div>
    <a href="/home" class="btn btn-default btn-light center" role="button" aria-pressed="true">
        <img src="static/images/enter.jpg" height="30" href="/home" class=" center nav-img">
    </a>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <img src="static/images/shop.png" width="400" height="200" class="center nav-img">
</div>

</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>


<script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
></script>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="text-center text-white" style="background-color: transparent">
    <div class="container pt-4">

        <!-- Footer for developed by Funmi Image` -->
        <section class="mb-6">
            <div class="row">
                <div class="col-md-4">
                </div>
                <img src="static/images/dev.png" width="250" class=" center nav-img" alt="developed">
            </div>


        </section>


</footer>
</html>
