{% extends "base.html" %}
{% block title %}WHAT COLOUR IS NUDE - Fume Gallery{% endblock %}

{% block content %}
<div class="container">
  <br>
  <br>
  <div
    class = "font-italic text-uppercase font-weight-bold" style="color : black;">
    <h2>What Colour is Nude?</h2>
  </div>

    <div
    class = "" style="color : black;">
      <p>As seen in the ACU Review vol 03 issue 01. </p>
      <p>What Colour is Nude is an artistic response to systematic racism and division.
    Growing up in a predominantly white town made it easy for me to be blind to how unbalanced the world was for people like me.
     It wasn't until I was older that I realised plasters weren't made with me in mind. In this image, the plaster represents
    how people of colour are still forgotten in society. Why is it coloured nude? What is the colour nude and why is it only
    one colour.</p>
    </div>

  <br>
  <br>
    <div class="max-width: 576px">
      <div class="thumbnail">
          <img src="/static/images/n1.jpg" height="900" alt="COLOURNUDE"  >
          <div class="caption font-italic text-uppercase font-weight-bold " style="color : #1200ff;">
            <p></p>
          </div>
        </a>
      </div>
    </div>

</div>

<br>

{% endblock %}